<div class="main-header">
    <div class="header-logo">
        <IMG class="logo-tamano" SRC="../../assets/logo/milogo.jpg">   
    </div>
    <div class="header-menu">
        <button mat-button [matMenuTriggerFor]="animals">Menú</button>
        <mat-menu #animals="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="playeras">Playeras</button>
        <button mat-menu-item [matMenuTriggerFor]="pantalones">Pantalones</button>
        <button mat-menu-item [matMenuTriggerFor]="calculadora">Calculadora</button>
        <button mat-menu-item [matMenuTriggerFor]="quienSoy">Quien soy?</button>
        <button mat-menu-item [matMenuTriggerFor]="tienda">Tienda</button>
        </mat-menu>

        <mat-menu #playeras="matMenu">
        <button routerLink="/home" mat-menu-item >Deportivas</button>
        <button routerLink="/calculadora" mat-menu-item >Casuales</button>
        <button routerLink="/carousel" mat-menu-item >Personalisadas</button>
        <button routerLink="/mapa" mat-menu-item >Mapa</button>
        </mat-menu>
        <mat-menu #pantalones="matMenu"></mat-menu>
        <mat-menu #calculadora="matMenu"></mat-menu>
        <mat-menu #quienSoy="matMenu"></mat-menu>
        <mat-menu #tienda="matMenu"></mat-menu>

    </div>
</div>
