<div class="main-store">
    <div class="primer" *ngFor="let item of productos; let i = index">
            <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-subtitle>{{item.producto | uppercase}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p>
                      El precio es:
                      <span [ngClass]="{'muy-caro':item.precio>900}">{{item.precio | currency}}</span> 
                      y la fecha de entrega es {{item.fechaentrega}}
                      </p>
                      <div *ngIf="item.precio<400">
                          Es un buen precio
                      </div>

                    </mat-card-content>
                  </mat-card>
    </div>
   
</div>
      
