<div class="main-calculadora">
    <div class="fila1">
        <button class="button1" mat-mini-fab>1</button>
        <button class="button1" mat-mini-fab>2</button>
        <button class="button1" mat-mini-fab>3</button>
        <button class="button1" mat-mini-fab>=</button>
    </div>

    <div class="fila1">
        <button class="button1" mat-mini-fab>4</button>
        <button class="button1" mat-mini-fab>5</button>
        <button class="button1" mat-mini-fab>6</button>
        <button class="button1" mat-mini-fab>+</button> 
    </div>

    <div class="fila1">
        <button class="button1" mat-mini-fab>7</button>
        <button class="button1" mat-mini-fab>8</button>
        <button class="button1" mat-mini-fab>9</button>
        <button class="button1" mat-mini-fab>x</button> 
    </div>

    <div class="fila1">
        <button class="button1" mat-mini-fab>0</button>
        <button class="button1" mat-mini-fab>-</button>
        <button class="button1" mat-mini-fab>/</button>
        <button class="button1" mat-mini-fab>.</button> 
    </div>

</div>

<div class="soyyo">
    <div class="col-soyyo">
        <div class="fila-soyyo">
            <div class="boton-soyyo">
                <button class="button1" mat-mini-fab>7</button>
            </div>
            <div class="boton-soyyo">
                <button class="button1" mat-mini-fab>8</button>
            </div>
            <div class="boton-soyyo">
                <button class="button1" mat-mini-fab>9</button>
            </div>
        </div>
    </div>
    <div class="col-soyyo">
        <div class="fila-soyyo">
            <div class="boton-soyyo">
                <button class="button1" mat-mini-fab>4</button>
            </div>
            <div class="boton-soyyo">
                <button class="button1" mat-mini-fab>5</button>
            </div>
            <div class="boton-soyyo">
                <button class="button1" mat-mini-fab>6</button>
            </div>
        </div>
    </div>
    <div class="col-soyyo">
        <div class="fila-soyyo">
            <div class="boton-soyyo">
                <button class="button1" mat-mini-fab>1</button>
            </div>
            <div class="boton-soyyo">
                <button class="button1" mat-mini-fab>2</button>
            </div>
            <div class="boton-soyyo">
                <button class="button1" mat-mini-fab>3</button>
            </div>
        </div>
    </div>
</div>
